{% extends "base.html" %}
{% load my_tags %}
	
{% block content %}
<h2>Hello!</h2>
Welcome to Priceo. Priceo is a service that lets you easily compare product prices between many retail sellers. Find the <b>cheapest products</b> easily. And don't forget to rate the product and the shop you bought it in.
<h4>What do we offer?</h4>
<ul>
	<li>Thousands of products segregated into categories for your convenience.</li>
	<li>Rating system of products and shops for your security</li>
	<li>Comments system, so you can get to know experiences of others before buying a product</li>
	<li>Advanced search system</li>
</ul>
{% endblock %}