{% extends "base.html" %}
{% load my_tags %}

{% block title %}
 | {{ category.name }}
{% endblock %}

{% block content %}
	{% get_latest_products 5 from priceo.Category category.id as latest %}

	<h3>Latest products in category {{ category.name }}</h3>
	<table>
		{% for product in latest %}
			<tr>
				<td><a href="{% url 'product_details' product.id %}">{{ product.name }}</a><br/>{{ product.thumbs_up }}/</td>
				<td>{{ product.description }}</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}

{% block sidebar %}
	{% get_latest_products 5 from priceo.Category category.id as latest %}
	<h3>Latest in {{ category.name }}</h3>
	<ul>
		{% for product in latest %}
			<li><a href="{% url 'product_details' product.id %}">{{ product.name }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}